/* Global Styles */

* {
  outline: 1px solid red !important;
}


/* Colors
  "rgba(57, 94, 102, 1)",
  "rgba(56, 125, 122, 1)",
  "rgba(50, 147, 111, 1)",
  "rgba(38, 169, 108, 1)",
  "rgba(15, 155, 90, 1)"
*/

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(218, 247, 220, 1) !important;
}

h1 {
  font-size: 4em;
  margin-top: 2em;
}

h2 {
  font-weight: bold;
  font-size: 3em;
  color: rgba(57, 94, 102, 1);
  line-height: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 a:link {
  display: block !important;
}

h3 {
  font-size: 2em;
  color: rgba(57, 94, 102, 1) !important;
  line-height: 22px;
}

p {
  font-size: 1em;
  color: rgba(57, 94, 102, 1);
  line-height: 1.2em;
}

a:link {
  color: rgba(57, 94, 102, 1) !important;
  text-decoration: none !important;
}

a:visited {
  color: rgba(57, 94, 102, 1) !important;
  text-decoration: none !important;
}

a:hover {
  color: rgba(15, 155, 90, 1) !important;
  text-decoration: none !important;
}

a:active {
  color: rgba(15, 155, 90, 1) !important;
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}


/* Navigation styles */

.navCol {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.tabList {
  list-style: none;
  padding-left: 0;
}

.navItem {
  display: block;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.navItem:link, .navItem:visited {
  color: white !important;
}

.navItem:hover, .navItem:active {
  color: rgba(218, 247, 220, 1) !important;
}

.bg-user {
  background-color: rgba(57, 94, 102, 1);
}

.bg-briefcase {
  background-color: rgba(56, 125, 122, 1);
}

.bg-graduation-cap {
  background-color: rgba(50, 147, 111, 1);
}

.bg-envelope {
  background-color: rgba(38, 169, 108, 1);
}

.entry-icon {
  width: 45px;
}


/* Header Styles */

#name {
  font-size: 40px;
  color: rgba(57, 94, 102, 1);
  line-height: 48px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: rgba(57, 94, 102, 1);
  line-height: 1.2em;
}

.biopic {
  margin-top: 2em;
  display: none;
}


/* Main Content Styles */

.work-description-col, .project-description-col, .school-degree-col, .course-school-col, .contact-entry-col {
  margin-bottom: 2em;
}

.title-text, .employer-text, .project-text, .course-text, .school-text {
  font-size: 1.2em;
  color: rgba(57, 94, 102, 1) !important;
  line-height: 1.3em;
}

.date-text {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
}

.entry-icon {
  color: rgba(57, 94, 102, 1);
  background-color: rgba(218, 247, 220, 1);
}

.project-pictures-col {
  text-align: center;
}

.project-image {
  margin: 0 1em 3em;
}

.major-text {
  font-size: 1em;
  font-style: italic;
  color: rgba(57, 94, 102, 1) !important;
  line-height: 1.2em;
}

.location-text {
  font-style: italic;
  font-size: 1em;
  color: rgba(57, 94, 102, 1) !important;
  line-height: 1.3em;
}


/* Map Styles */

#map {
  display: block;
  margin: 0 5%;
}

#mapDiv {
  width: 100%;
  padding-bottom: 5%;
}


/* Responsive Styles */

@media only screen and (max-width: 767px) {
  h1, h2, h3, h4 {
    text-align: center;
  }
  .role-entry, .welcome-message {
    text-align: center;
  }
  .skills-entry, .work-entry, .project-entry, .education-entry, .course-entry, .contact-entry {
    text-align: center;
  }
  .employer-text, .location-text {
    display: block;
  }
  #mapDiv {
    height: 300px;
  }
  #map {
    height: 62%;
  }
}

@media only screen and (min-width: 768px) {
  .entry-icon {
    text-align: center;
  }
  .location-text {
    float: right;
  }
  #mapDiv {
    height: 350px;
  }
  #map {
    height: 82%;
  }
}

@media only screen and (min-width: 992) {
  .location-text {
    float: right;
  }
  #mapDiv {
    height: 350px;
  }
  #map {
    height: 82%;
  }
}

@media only screen and (min-width: 1200px) {
  #mapDiv {
    height: 350px;
  }
  #map {
    height: 82%;
  }
}
